<header class="linxHeader">
	<div class="linxHeader-leftBlock">
		<a class="linxHeader-anchor" href="/products/sleepclean-pillowcase">
			Shop
		</a>
		<a class="linxHeader-anchor" href="/pages/about">
			About
		</a>
	</div>
	<div class="linxHeader-logoBlock">
		<a class="linxHeader-homeButton" href="/">
			Sleepclean
		</a>
	</div>
	<div class="linxHeader-rightBlock">
		<a class="linxHeader-anchor" href="/checkout">
			Checkout
		</a>
		<a class="linxHeader-anchor" href="/cart">
			Cart
		</a>
	</div>
</header>