<footer class="linxFoot">
	<div class="linxFoot-left">
		<a class="linxFoot-homeButton" href="/">
			Sleepclean
		</a>
		<a class="linxFoot-anchor" href="/products/sleepclean-pillowcase">
			Shop
		</a>
		<a class="linxFoot-anchor" href="/contact">
			Contact
		</a>
		<a class="linxFoot-anchor" href="/about">
			About
		</a>
		<a class="linxFoot-anchor" href="/shipping">
			Shipping
		</a>
		<a class="linxFoot-anchor" href="/privacy">
			Privacy Policy
		</a>
	</div>
	<div class="linxFoot-right">
		<form class="linxFoot-register">
			<div class="register-text">Signup</div>
			<input class="register-input" type="email" placeholder="ENTER YOUR EMAIL"/>
			<input class="register-submit" type="submit" value="SUBMIT"/>
		</form>
		<div class="linxFoot-socials">
			<div class="share-buttons">
				<a target="_blank" href="//www.instagram.com/" class="share-instagram">&#xE222;</a>
				<a target="_blank" href="//twitter.com/share?url={{ permalinkURL }}" class="share-twitter">&#xE036;</a>
				<a target="_blank" href="//www.facebook.com/sharer.php?u={{ permalinkURL }}" class="share-facebook">&#xE003;</a>
				<a target="_blank" href="//www.youtube.com/" class="share-youtube">&#xE416;</a>

			</div>
		</div>
	</div>
</footer>
