<div class="linxTabs js-linxTab">
	<div class="linxTab-tabTray">
		<a href="#one" class="tab">
			<div class="tab-header">

			</div>
		</a>
		<a href="#two" class="tab">
			<div class="tab-header">

			</div>
		</a>
		<a href="#three" class="tab">
			<div class="tab-header">

			</div>
		</a>
		<a href="#four" class="tab">
			<div class="tab-header">

			</div>
		</a>
	</div>
	<div class="linxTab-content">
		<div id="one" class="contentBox details">
			
		</div>
		<div id="two" class="contentBox review">
			<form action=""></form>
		</div>
		<div id="three" class="contentBox results"></div>
		<div id="four" class="contentBox faq"></div>
	</div>
</div>