
$heading-color: #fff;
$heading-weight: 500;
$heading-font: 'brandon-grotesque';
$benj: #8eecd0;
$max-width: 100%;
$slide-col: #fff;
$slide-colors: $slide-col, $slide-col, $slide-col, $slide-col, $slide-col;

@mixin transform($val) {
  -webkit-transform: $val;
  -moz-transform: $val;
  -ms-transform: $val;
  transform: $val;
}

@mixin breakpoint($point) {
  @if $point == xl {
	@media (min-width: 1281px) { @content; }
  }
  @else if $point == l {
	@media (max-width: 1280px) { @content; }
  }
  @else if $point == m {
	@media (max-width: 1020px) { @content; }
  }
  @else if $point == s {
	@media (max-width: 770px) { @content; }
  }
  @else if $point == xs {
	@media (max-width: 540px) { @content; }
  }
}

%heading-text {
  font-family: $heading-font;
  font-weight: $heading-weight;
  color: $heading-color;
}


.linxHeader {
  float: left;
  width: 100%;
  height: 61px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 100;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  &.product {
	.product {
	  color: $benj;
	}
  }
  &.cart {
	.cart {
	  color: $benj;
	}
  }
  &.page {
	.page {
	  color: $benj;
	}
  }
}

.linxHeader-desktop {
  float: left;
  width: 100%;
}

.linxHeader-mobile  {
  float: left;
  width: 100%;
  position: relative;
  .linxHeader-logoBlock {
	position: static;
	float: left;
	width: 100%;
	height: 61px;
	line-height: 61px;
	border: none;
	text-align: center;
	.linxHeader-homeButton {
	  position: relative;
	  margin: 0 auto;
	  border: 1px solid $benj;
	  line-height: 61px;
	  padding: 6px 8px;
	  font-size: 16px;

	}
  }
  .linxHeader-trigger {
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto 0;
	right: 10px;
	height: 25px;
	width: 40px;
	border-radius: 3px;

	background-position: 50% 50%;
	background-size: cover;
	background-repeat: no-repeat;
	&.open {
	  display: block;
	}
	&.close {
	  display: none;
	  height: 40px;
	}
  }
  .linxHeader-menu {

	position: absolute;
	top: 61px;
	left: 0;
	right: 0;
	display: none;
	width: 100%;
	background: #fff;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	.linxHeader-anchor {
	  float: left;
	  width: 100%;
	  border-bottom: 1px solid #ddd;
	  line-height: 40px;
	  text-align: center;
	}
  }
  &.active {
	.linxHeader-menu {
	  display: block;
	}
	.linxHeader-trigger {
	  &.open {
		display: none;
	  }
	  &.close {
		display: block;
	  }
	}
  }
}

.linxHeader {
  .linxHeader-desktop {
	display: block;
  }
  .linxHeader-mobile {
	display: none;
  }
}

.sticky-header {
  .linxHeader {
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  }
}

.linxHeader-leftBlock {
  float: left;
  width: 33%;
  height: 61px;
  .linxHeader-anchor {
	float: left;
	margin: 0 0 0 34px;
  }
}

.linxHeader-logoBlock {
  position: fixed;
  top: 10px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 145px;
  height: 39px;
  text-align: center;
  border: 1px solid $benj;
  line-height: 39px;
}

.linxHeader-rightBlock {
  float: right;
  width: 33%;
  height: 41px;
  .linxHeader-anchor {
	float: right;
	margin: 0 34px 0 0;
  }
}

.linxHeader-anchor {
  font-family: 'brandon-grotesque';
  color: #555;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 61px;
  font-weight: bold;

}

.linxHeader-homeButton {
  font-family: 'brandon-grotesque';
  color: $benj;
  font-size: 19px;
  text-transform: uppercase;
  line-height: 39px;
}

.navigation-wrapper {
  display: none !important;
}

.home-slideshow.content-width {
  margin: 0 auto;
  max-width: $max-width;
  padding-left: 30px;
  padding-right: 30px;

  .lt-ie9 & { width: $max-width; }
}

.slideshow-slide {
  width: 100%;
}

.slide-image-wrapper {
  overflow: hidden;

  img {
	display: block;
	width: 100%;
  }
}

$i: 1;
@while $i < 6 {
  .slide-#{$i} {
	h3,
	p {
	  color: nth($slide-colors, $i);
	}
  }
  $i: $i + 1;
}

.slide-content {
  position: absolute;
  top: 50%;
  left: 70px;
  right: 70px;
  @include transform(translateY(-50%));

  @include breakpoint(s) {
	left: 30px;
	right: 30px;
  }

  .content-aligned-center & {
	text-align: center;
  }

  .content-aligned-right & {
	text-align: right;
  }
}

.slide-content-inner {
  margin: 0 auto;
  max-width: $max-width;
}

.slide-title {
  @extend %heading-text;
  margin: 0;
  font-size: 60px;
  font-family: $heading-font;
  font-weight: bold;
  letter-spacing: -0.03em;
  @include breakpoint(m) {
	font-size: 50px;

  }

  @include breakpoint(s) {
	font-size: 32px;
  }

  @include breakpoint(xs) {
	font-size: 18px;
  }
}

.slide-subtitle {
  margin: 5px 0 0;
  font-size: 21px;

  @include breakpoint(s) { font-size: 16px; }
  @include breakpoint(xs) { font-size: 14px; }
}

.slide-cta {
  margin: 16px 0 0;
  font-size: 16px;

  @include breakpoint(s) { margin-top: 20px; }

  @include breakpoint(xs) {
	margin-top: 15px;
	padding: 10px 15px;
  }
  &.button {
	background-color: transparent;
	border: 3px solid #fff;
	font-size: 26px;
	color: #fff;
	font-weight: 500;
	padding-top: 3px;
	padding-bottom: 3px;
	font-family: $heading-font;
  }
}

.extraText {
  text-transform: uppercase;
  color: #aaa;
  font-family: $heading-font;
  text-align: center;
  float: left;
  width: 100%;
  font-size: 19px;
  margin: 14px 0;
  font-weight: 300;
  letter-spacing: 0.1em;
  clear: both;
}

.instagram-follow {
  float: left;
  width: 100%;
  position: relative;
  margin: 30px 0;
  span {
	position: relative;
	z-index: 2;
	font-size: 23px;
	color: #111;
	background-color: #fff;
	padding: 0 20px;
  }
  &::before {
	position: absolute;
	content: '';
	border-bottom: 1px solid #ddd;
	width: 40%;
	height: 1px;
	left: 0;
	top: 49%;
  }
  &::after {
	position: absolute;
	content: '';
	border-bottom: 1px solid #ddd;
	width: 40%;
	height: 1px;
	right: 0;
	top: 49%;
  }
}

.instaFoot {
  font-family: $heading-font;
  .instaFoot-text {
	color: #111;
	margin: 40px 0 20px 0;
	font-size: 25px;
  }
  .instaFoot-button {
	text-transform: uppercase;
	font-weight: normal;
	text-align: center;
	line-height: 41px;
	color: #fff;
	background-color: $benj;
	font-size: 21px;
	padding: 10px 50px;

  }
}

.linxFoot {
  float: left;
  width: 100%;
  background-color: rgba(142, 236, 208, 0.05);
  margin: 20px 0;
  padding: 20px 15%;
  .linxFoot-left {
	float: left;
	width: 50%;
	.linxFoot-anchor {
	  color: #777;
	  font-family: $heading-font;
	  text-transform: uppercase;
	  font-weight: 300;
	  font-size: 13px;
	  float: left;
	  width: 100%;
	  margin-bottom: 1px ;
	}
	.linxFoot-homeButton {
	  float: left;
	  width: 114px;
	  height: 35px;
	  line-height: 35px;
	  border: 1px solid $benj;
	  color: $benj;
	  font-family: $heading-font;
	  text-transform: uppercase;
	  text-align: center;
	  margin-bottom: 14px;
	}
  }
  .linxFoot-right {
	float: right;
	width: 220px;
	.share-buttons {
	  line-height: 30px;
	  height: 30px;
	  a {
		width: 25%;
		height: 30px;
		line-height: 30px;
		text-align: center;
		font-size: 14px;
		&.share-youtube {
		  font-size: 21px;
		}
	  }
	}
  }
}

.linxFoot-socials {
  float: right;
  width: 220px;
  .share-buttons {
	float: left;
  }
}

.linxFoot-register {
  float: right;
  width: 220px;
  height: auto;
  margin-bottom: 10px;
  margin-top: 0;
  .register-text {
	text-transform: uppercase;
	color: #555;
	font-size: 16px;
	font-weight: 600;
	font-family: $heading-font;
	float: left;
	width: 100%;
	line-height: 20px;
  }
  .register-input {
	-moz-appearance: none;
	-webkit-appearance: none;
	background-image: none;
	border: 1px solid #aaa;
	float: left;
	width: 135px;
	line-height: 30px;
	border-right-width: 0;
	padding: 1px 12px;
	font-size: 13px;
	margin-bottom: 0;
  }
  .register-submit {
	float: left;
	width: 70px;
	line-height: 32px;
	background-color: rgba(0, 0, 0, 0.19);
	color: #fff;
	text-align: center;
	background-image: none;
	text-transform: uppercase;
	padding: 0;
	border-radius: 0;
	border: 1px solid #aaa;
	border-left-width: 0;
	font-size: 12px;
	margin-bottom: 0;
	&:hover {
	  background-color: rgba(0, 0, 0, 0.21);
	}
  }
}

.social-widget-wrapper {
  border-top: none;
  padding-top: 0;
}

.template-product {
  .main-content {
	padding-top: 62px;
  }
}

.template-page .main-content {
  padding-top: 12px;
}

.product-details {

  .product-title {
	font-family: $heading-font;
	color: #555;
	font-size: 26px;
	letter-spacing: -0.01em;
  }
  .product-teaser-title {
	font-family: $heading-font;
	color: #222;
	font-size: 16px;
	line-height: 18px;
	margin: 10px 0 30px 0;
  }
}

.product-price {
  margin-top: 10px;
  float: left;
  bordeR: 1px solid $benj;
  font-family: $heading-font;
  color: #111;
  font-size: 18px;
  text-align: center;
  line-height: 38px;
  height: 40px;
  width: 156px;
  margin-bottom: 14px;
}

.productForm {
  float: right;
  margin-top: 10px;
  margin-bottom: 14px;
}

.product-details-wrapper {
  .share-buttons {
	margin-top: 0;
	float: left;
  }
}



.product-shippingMessage {
  float: left;
  color: #777;
  font-family: $heading-font;
  font-size: 14px;
  font-style: italic;
  margin-left: 30px;
  line-height: 20px;
}

.productstabbing {
  float: left;
  width: 100%;
  .tabs {
	min-height: 33px;
	float: left;
	width: 100%;
  }
  .tab {
	width: 25%;
	float: left;
	text-align: center;
  }
  .tab-anchor {
	font-family: $heading-font;
	font-size: 14px;
	text-align: center;
	padding: 0;
	color: #222;
	&:last-child {
	  padding: 0;
	}
	&.active {
	  color: #777;
	}
  }
}

#tab-1, #tab-2, #tab-3, #tab-4 {
  float: left;
  width: 100%;
}

#tab-2 .spr-container {
  padding-left: 1px;
  padding-right: 1px;
  padding-top: 0;
  border-width: 0;
}

.spr-container {
  border-width: 0;
  padding-left: 1px;
  padding-right: 1px;

  .spr-header {
	font-family: $heading-font;
	height: 50px;
	border-bottom: 1px solid #dee;
	.spr-header-title {
	  margin-bottom: 0;
	  font-weight: 500;
	  color: #555;
	  font-size: 20px;
	  float: left;
	  height: 50px;
	  letter-spacing: -0.01em;
	}
	.spr-summary {
	  float: right;
	  height: 50px;
	  width: 203px;
	  text-align: right;
	}
  }
  .spr-starrating {
	i {
	  font-size: 90%;
	}
  }
  .spr-summary-caption {
	span {
	  color: #222;
	}
  }
  .spr-summary-actions {
	text-align: left;
	a {
	  line-height: 16px;
	  float: left;
	  text-align: left;
	  text-decoration: underline;
	}
  }
}

.spr-content {
  font-family: $heading-font;
  .spr-reviews {
	margin-top: 8px;
  }
  .spr-pagination {
	float: left;
	width: 100%;
  }
  .spr-review {
	padding-top: 4px;
	background-color: #eee;
	position: relative;
	float: left;
	width: 100%;
	padding-bottom: 4px;
	margin-bottom: 12px;
	.spr-review-header-title {
	  display: none;
	}
	.spr-review-header {
	  float: left;
	  width: 100%;

	}
	.spr-review-footer {
	  float: right;
	  width: 70%;
	  opacity: 0;
	  -webkit-transition: opacity 0.2s linear;
	  -moz-transition: opacity 0.2s linear;
	  -ms-transition: opacity 0.2s linear;
	  -o-transition: opacity 0.2s linear;
	  transition: opacity 0.2s linear;
	  padding-right: 8px;
	  text-transform: uppercase;
	  a {
		color: #999;
	  }
	}
	.spr-review-content {
	  float: right;
	  width: 70%;
	  font-family: $heading-font;
	  color: #222;
	  margin-bottom: 8px;
	  padding-right: 10px;
	}
	.spr-starratings {
	  display: block;
	  float: right;
	  width: 70%;
	  max-width: 70%;
	  overflow: hidden;
	}
	.spr-review-header-byline {
	  display: block;
	  float: left;
	  font-family: $heading-font;
	  font-weight: normal;
	  color: #222;
	  width: 28%;
	  max-width: 28%;
	  padding: 5px 15px 0 10px;
	  overflow: hidden;
	  font-style: normal;
	  position: absolute;
	  top: 10px;
	  bottom: 0;
	  left: 5px;
	  opacity: 1;
	  line-height: 16px;
	  strong {
		line-height: 16px;
		font-style: normal;
		font-weight: normal;
		color: #222;
		font-size: 15px;
	  }
	}
	&:hover {
	  .spr-review-footer {
		opacity: 1;
	  }
	}
	&:first-child {
	  margin-top: 4px;
	}
  }
}
.spr-form-contact, .spr-form-reviews, .spr-form-actions {
  label {
	margin: 8px 0;
  }
}


#tab-1 {
  li {
	h2 {
	  letter-spacing: normal;
	  line-height: 24px;
	  color: #555;
	  font-size: 16px;
	}
	h4 {
	  letter-spacing: normal;
	  color: #555;
	}
  }
}

.aboutHeader {
  margin: 0 auto 20px auto;
  width: 300px;
  position: relative;
  height: 350px;
  max-width: none;
  .headLogo {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 10px auto;
  }
  .headMore {
	float: left;
	width: 100%;
	margin-top: 310px;
	text-align: center;
	position: relative;
	span {
	  color: #555;
	  font-family: $heading-font;
	  font-size: 14px;
	  font-weight: normal;
	}
	.headMore-icon {
	  position: absolute;
	  top: 25px;
	  left: 0;
	  right: 0;
	  margin: 10px auto;
	  width: 40px;
	  height: 10px;
	  background-color: rgba(0, 0, 0, 0.05);
	  border: 1px solid #000;
	  cursor: pointer;
	}
  }
  &::after {
	clear: both;
	height: 1px;
  }
  &::before {
	clear: both;
	height: 1px;
  }
}

h1.about-sleepclean {
  display: none;
}

.page-content.about-sleepclean {
  /*width: 100%;*/
  padding: 0;
  margin-top: 0;
  margin-left: -40px;
  margin-right: -40px;
  max-width: none;
  .aboutSection {
	max-width: none;
  }
}

.aboutSection {
  max-width: none;
  width: 100%;
  float: left;
  position: relative;
  /*min-height: 380px;*/
  padding: 40px 0;
  border-bottom: 1px solid #ddd;

  &.odd {
	background-color: rgba(0, 0, 0, 0.03);
  }
  &.even {

  }
}


.aboutSection-wrapper {
  width: 780px;
  position: relative;
  margin: 0 auto;
  &:after {
	clear: both;
	display: table;
	content: "";
  }
  &:before {
	clear: both;
	display: table;
	content: "";
  }
}

.about-sectionHeader {
  float: left;
  width: 100%;
  padding-left: 22%;
  font-family: $heading-font;
  color: #333;
  font-size: 17px;
  font-weight: normal;
  margin-bottom: 20px;
}

.aboutSection-body {
  float: left;
  width: 100%;
  padding-left: 22%;
  font-family: $heading-font;
  color: #222;
  font-size: 16px;
  font-weight: normal;
  line-height: 19px;
  padding-bottom: 40px;
}

.aboutSection-image {
  position: absolute;
  top: 10px;
  left: 0;
  img {
	width: 100px;
	height: auto;
	border: 1px solid #ddd;
  }
}

.slideShow-replacement {
  float: left;
  width: 100%;
  position: relative;
  &:before {
	padding-top: 37%;
	content: "";
	display: block;
  }
  .replacement {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-position: 50% 50%;
	background-size: cover;

  }
}

.replacement-dummyImage {
  display: none;
}
.replacement-title {
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
  .slide-title {

  }
}
.replacement-button {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  width: 198px;
  margin: 0 auto;
  .slide-cta {

  }
}

.template-index {
  margin-top: 61px;
}

@media (max-width: 820px) {
  .slideShow-replacement {
	float: left;
	width: 100%;
	position: relative;
	&:before {
	  padding-top: 56%;

	}
  }
  .linxHeader {
	.linxHeader-desktop {
	  display: none;
	}
	.linxHeader-mobile {
	  display: block;
	}
  }
  .product-images {
	padding: 0 11px;
	margin-bottom: 15px;
  }
  .product-thumbnails-outer-wrapper {

	.product-thumbnails-navigation-previous {
	  padding-right: 10px;
	}
	.product-thumbnails-navigation-next {
	  padding-left: 10px;
	}
  }
  .product-details-wrapper {
	padding: 0 11px;
	.productForm {
	  margin-left: 0;
	}
	.product-title {
	  font-size: 19px;
	  color: #222;
	}
	.product-teaser-title {
	  display: none;
	}
	.productstabbing {
	  margin-top: 20px;
	}
  }
  .product-price {
	width: 110px;
	font-size: 14px;
	height: 30px;
	line-height: 28px;
  }
  .productForm {
	.product-quantity {
	  input {
		width: 28px;
		padding: 4px 0;
	  }
	}
	.add-to-cart {
	  input {
		text-align: center;
		padding: 6px 0;
		width: 110px;
	  }
	}
  }
}

