<h1 class="page-title {{ page.title | downcase | replace: ' ', '-' }}">{{ page.title }}</h1>

<div class="page-content rte {{ page.title | downcase | replace: ' ', '-' }}">
  {{ page.content }}
</div>
